<mat-card style="height:90vh;overflow-y:scroll;">
    <mat-toolbar color="primary">
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width:100%;">
            <button mat-button  routerLink="terms">
                <mat-icon>access_time</mat-icon>
                 Terminy pracy komisji
            </button>

            <button mat-button  routerLink="declarations">
                <mat-icon>assignment_ind</mat-icon>
                Deklaracje
            </button>

            <button mat-button (click)="Logout()">
                <mat-icon>exit_to_app</mat-icon>
                Wyloguj
            </button>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-card>
