<div>
    <div class="full-screen" fxLayout="column" fxLayoutAlign="center center">
        <div class="mid-screen">
            <mat-card fxLayout="column">
                <form name="loginForm">
                    <div style="padding-bottom:10px;">
                        <mat-toolbar color="primary" style="max-height:30px;" fxLayoutAlign="center center">
                            <span>Zaloguj się</span>
                        </mat-toolbar>
                    </div>
                    <div>
                        <mat-input-container class="full-width">
                            <input matInput placeholder="Indeks" name="username" [(ngModel)]="User.CardNumber" required
                                   pattern="^[0-9]+$">
                        </mat-input-container>
                    </div>
                    <div>
                        <mat-input-container class="full-width">
                            <input type="password" matInput placeholder="Hasło" name="password"
                                   [(ngModel)]="User.Password" required>
                        </mat-input-container>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div>
                            <button mat-raised-button color="primary" (click)="login()">
                                <mat-icon class="material-icons">fingerprint</mat-icon>
                                <span>Zaloguj się</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button color="primary" routerLink="/register">
                                <mat-icon class="material-icons">person_add</mat-icon>
                                <span>Rejestracja</span>
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>
